@charset "UTF-8";

/* Alterações para tela em pé/portrait*/

body {
    background: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}
h1 {
    color: white;
    text-shadow: 2px 2px 5px rgb(17, 17, 95);
}