@charset "UTF-8";

/*Estilo para versão de impressão*/

*{
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    line-height: 1.5em;
}

header {
    margin: 20px;
    line-height: 2em;
}
 
menu > ul > li {
    color: blueviolet;
    font-size: 1.25em;
}

h2 {
    padding: 20px;
}
p {
    text-align: center;
}