* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
main {
    margin: auto;
    

}
body {
    background-color: #edd7df;
    color: white;
    margin-top: auto;
}

h1 {
    background-color: #c6849d;
    color: white;
    text-align: center;
    font-size: 30px;
}
h2 {
    margin: 20px;
    color: #c6849d;
    font-size: 25px;
}
p {
    margin-left: auto;
    margin-top: auto;
    font-size: 20px;
    color: black;
}
img {
    float: left;
}
li {
    color: #ffffff;
}
